<head>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <style>
  body {
      font-family: 'Abel';
  }
  </style>
  </head>
  <body>

<div class="team">

  <div class="container">
    <div class="flex-container">
      <div class="flex-item-left">
        <div class="inner-box">
          <div class="p-h6">
            <h1 class="step-title">Insurance</h1>

            <p>We accept all kinds of PPO and indemnity insurance. A
              preferred provider organization, typically referred to as a
              PPO, offers you easy access to a network of providers
              who provide services at a discounted rate. It enables
              patients to seek out-of-network services.
            </p>
          </div>
        </div>
      </div>
      <div class="flex-item-right">
        <div class="inner-box">

          <div class="p-h6">
            <ul class="ulclass">
              <li>AETNA</li>
              <li>Assurant/DHA</li>
              <li>Blue Shield of CA</li>
              <li>Delta Dental</li>
              <li>Guardian</li>
              <li>Metlife</li>
              <li>Premier Access</li>
              <li>Principal Standard</li>
              <li>United Healthcare </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex-item-right">
        <div class="inner-box">

          <div class="p-h6">
            <ul class="ulclass">
              <li>Blue Shield of CA</li>
              <li>Assurant/DHA</li>
              <li>Delta Dental</li>
              <li>Guardian</li>
              <li>Metlife</li>
              <li>Principal Standard</li>

            </ul>
            <div class="more-12">
              <button type="button" class="viewall">12 More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">

      <div class="step-column col-md-2 col-sm-hidden col-xs-12 jack">

      </div>

      <div class="step-column itm-mgn-top-30s col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="p-h6">
            <h1 class="step-title">Insurance</h1>

            <p>We accept all kinds of PPO and indemnity insurance. A
              preferred provider organization, typically referred to as a
              PPO, offers you easy access to a network of providers
              who provide services at a discounted rate. It enables
              patients to seek out-of-network services.
            </p>
          </div>
        </div>
      </div>
      <div class="step-column itm-mgn-top-30s col-md-2 col-sm-6 col-xs-12">
        <div class="inner-box">

          <div class="p-h6">
            <ul class="ulclass">
              <li>AETNA</li>
              <li>Assurant/DHA</li>
              <li>Blue Shield of CA</li>
              <li>Delta Dental</li>
              <li>Guardian</li>
              <li>Metlife</li>
              <li>Premier Access</li>
              <li>Principal Standard</li>
              <li>United Healthcare </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="step-column itm-mgn-top-30 col-md-2 col-sm-6 col-xs-12">
        <div class="inner-box">

          <div class="p-h6">
            <ul class="ulclass">
              <li>Blue Shield of CA</li>
              <li>Assurant/DHA</li>
              <li>Delta Dental</li>
              <li>Guardian</li>
              <li>Metlife</li>
              <li>Principal Standard</li>

            </ul>
            <div class="more-12">
              <button type="button" class="viewall">12 More</button>
            </div>
          </div>
        </div>
      </div>

    </div> -->

  </div>
</div>

</body>
