<!--Section Title-->
<head>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <style>
  body {
      font-family: 'Abel';
  }
  </style>
  </head>
  <body>

<div class="blogsection">
  <div class="team">

    <div class="containerx">
      <div class="sec-title">
        <h1 class="teams-h1">Locations</h1>
        <span>

         <h3 class="phone"> &nbsp;&nbsp; cremin.claudine@elmo.net</h3>
          <img src="assets/email.png" alt="" class="mobile">&nbsp;


          <h3 class="phone">032-957-9485</h3>
          <img src="/assets/phone.png" alt="" class="mobile">
        </span>
      </div>
    </div>


    <div class="containerx new-map" style="background-image: url(assets/map.jpg);">
      <div class="flex-container">
        <div class="flex-item-left">
          <div class="icon">
            <h3 class="">San Jose</h3>
            <h4 class="">02 Karine <br />
              Throughway Apt. 647</h4>

          </div>
          <input type="button" value="Book Online" class="booknow" (click)= "openModal()">
        </div>
        <div class="flex-item-right">
          <ul class="ultime" style="list-style-type:none;">
            <li>Mon - 9 AM to 6 PM</li>
            <li>Tue - 9 AM to 6 PM</li>
            <li>Wed - 9 AM to 6 PM</li>
            <li>Thu - Close</li>
            <li>Fri - 9 AM to 6 PM</li>
            <li>Sat - 9 AM to 6 PM</li>
            <li>Sun - Close </li>
          </ul>
        </div>
        <div class="flex-item-left">
          <div class="icon">
            <h3 class="">San Jose</h3>
            <h4 class="">02 Karine <br />
              Throughway Apt. 647</h4>

          </div>
          <input type="button" value="Book Online" class="booknow" (click)= "openModal()">
        </div>
        <div class="flex-item-right">
          <ul class="ultime" style="list-style-type:none;">
            <li>Mon - 9 AM to 6 PM</li>
            <li>Tue - 9 AM to 6 PM</li>
            <li>Wed - 9 AM to 6 PM</li>
            <li>Thu - Close</li>
            <li>Fri - 9 AM to 6 PM</li>
            <li>Sat - 9 AM to 6 PM</li>
            <li>Sun - Close </li>
          </ul>
        </div>
        <div class="flex-item-left">
          <div class="icon">
            <h3 class="">San Jose</h3>
            <h4 class="">02 Karine <br />
              Throughway Apt. 647</h4>

          </div>
          <input type="button" value="Book Online" class="booknow" (click)= "openModal()">
        </div>
        <div class="flex-item-right">
          <ul class="ultime" style="list-style-type:none;">
            <li>Mon - 9 AM to 6 PM</li>
            <li>Tue - 9 AM to 6 PM</li>
            <li>Wed - 9 AM to 6 PM</li>
            <li>Thu - Close</li>
            <li>Fri - 9 AM to 6 PM</li>
            <li>Sat - 9 AM to 6 PM</li>
            <li>Sun - Close </li>
          </ul>
        </div>
      </div>

      <!-- <div class="row">

        <div class="step-column col-md-4 col-sm-6 col-xs-12">
          <div class="row">
            <div class="step-column col-md-6 col-sm-6 col-xs-12">
              <div class="icon">
                <h3 class="">San Jose</h3>
                <h4 class="">02 Karine <br />
                  Throughway Apt. 647</h4>

              </div>
              <input type="button" value="Book Online" class="booknow" (click)= "openModal()">
            </div>
            <div class="step-column col-md-6 col-sm-6 col-xs-12">

              <ul class="ultime" style="list-style-type:none;">
                <li>Mon - 9 AM to 6 PM</li>
                <li>Tue - 9 AM to 6 PM</li>
                <li>Wed - 9 AM to 6 PM</li>
                <li>Thu - Close</li>
                <li>Fri - 9 AM to 6 PM</li>
                <li>Sat - 9 AM to 6 PM</li>
                <li>Sun - Close </li>
              </ul>
            </div>

          </div>

        </div>


        <div class="step-column col-md-4 col-sm-6 col-xs-12">
          <div class="row">
            <div class="step-column col-md-6 col-sm-6 col-xs-12">
              <div class="icon">
                <h3 class="">San Jose</h3>
                <h4 class="">02 Karine <br />
                  Throughway Apt. 647</h4>
              </div>
              <input type="button" value="Book Online" class="booknow" (click) = "openModal()">
            </div>
            <div class="step-column col-md-6 col-sm-6 col-xs-12">

              <ul class="ultime" style="list-style-type:none;">
                <li>Mon - 9 AM to 6 PM</li>
                <li>Tue - 9 AM to 6 PM</li>
                <li>Wed - 9 AM to 6 PM</li>
                <li>Thu - Close</li>
                <li>Fri - 9 AM to 6 PM</li>
                <li>Sat - 9 AM to 6 PM</li>
                <li>Sun - Close </li>
              </ul>
            </div>

          </div>

        </div>

        <div class="step-column col-md-4 col-sm-6 col-xs-12">
          <div class="row">
            <div class="step-column col-md-6 col-sm-6 col-xs-12">
              <div class="icon">
                <h3 class="">San Jose</h3>
                <h4 class="">02 Karine <br />
                  Throughway Apt. 647</h4>
              </div>
              <input type="button" value="Book Online" class="booknow" (click) = "openModal()">
            </div>
            <div class="step-column col-md-6 col-sm-6 col-xs-12">

              <ul class="ultime" style="list-style-type:none;">
                <li>Mon - 9 AM to 6 PM</li>
                <li>Tue - 9 AM to 6 PM</li>
                <li>Wed - 9 AM to 6 PM</li>
                <li>Thu - Close</li>
                <li>Fri - 9 AM to 6 PM</li>
                <li>Sat - 9 AM to 6 PM</li>
                <li>Sun - Close </li>
              </ul>
            </div>

          </div>

        </div>

      </div> -->
    </div>

    <div class="containerx">

        <h5 class="footer-p">© Copyright 2017 Growthplug.inc</h5>
        <span class="">
          <img src="assets/twe.png" alt="" class="mobile spanimg">
          <img src="/assets/gpl.png" alt="" class="mobile spanimg">
          <img src="assets/fb.png" alt="" class="mobile spanimg">
          <img src="assets/insta.png" alt="" class="mobile spanimg">
          <img src="/assets/pin.png" alt="" class="mobile spanimg">
        </span>

    </div>

  </div>
</div>
  </body>
