<head>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <style>
  body {
      font-family: 'Abel';
  }
  </style>
  </head>
  <body>
<div class="containerx">

  <div class="row">

    <div class="step-column col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        <div class="step-column col-md-6 col-sm-6 col-xs-12">
          <div class="icon"><img src="assets/female2.jpg" class="img-responsive newkeys" alt=""></div>
        </div>
        <div class="step-column col-md-6 col-sm-6 col-xs-12">
          <h5 class="step-title">Dr. Maud McDonald</h5>
          <h6 class="step-title-undername next">General Physician</h6>
          <p class="prac-p">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Maecenas tempor sapien in ipsum consequat
            mollis. Fusce sagittis, elit sed sollicitudin ..</p>
          <h4 class="newstep">Education</h4>
          <p class="classp">University of Michigan <br>
            School of Medical</p>
        </div>
      </div>

    </div>

    <div class="step-column col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        <div class="step-column col-md-6 col-sm-6 col-xs-12">
          <div class="icon"><img src="assets/male1.jpg" class="img-responsive newkeys" alt=""></div>
        </div>
        <div class="step-column col-md-6 col-sm-6 col-xs-12">
          <h5 class="step-title">Dr. Maud McDonald</h5>
          <h6 class="step-title-undername next">General Physician</h6>
          <p class="prac-p">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Maecenas tempor sapien in ipsum consequat
            mollis. Fusce sagittis, elit sed sollicitudin ..</p>
          <h4 class="newstep">Education</h4>
          <p class="classp">University of Michigan <br>
            School of Medical</p>
        </div>
      </div>

    </div>

  </div>
</div>




<div class="cont">
  <div class="row second-row">

    <div class="step-column col-md-6 col-sm-6 col-xs-12">
      <div class="row">

        <div class="step-column col-md-6 col-sm-6 col-xs-12">
          <div class="row">

            <div class="step-column col-md-4 col-sm-6 col-xs-12">

              <div class="iconsection"><img src="assets/star.png" class="img-responsive newkeys-2" alt=""></div>
            </div>
            <div class="step-column col-md-8 col-sm-6 col-xs-12">
              <h4 class="newstep">Membership</h4>
              <p class="classp">Lorem ipsum dolor sit amet
                Consectetur adipiscing elit
                Maecenas tempor sapien</p>
            </div>

          </div>

        </div>
        <div class="step-column col-md-6 col-sm-6 col-xs-12">
          <div class="row">

            <div class="step-column col-md-4 col-sm-6 col-xs-12">
              <div class="iconsection"><img src="assets/msg.png" class="img-responsive msg" alt=""></div>
            </div>
            <div class="step-column col-md-8 col-sm-6 col-xs-12">
              <h4 class="newstep">Languages</h4>
              <p class="classp">English <br>
                French</p>
            </div>

          </div>
        </div>
      </div>
    </div>
 <div class="step-column col-md-6 col-sm-6 col-xs-12">
      <div class="row">

        <div class="step-column col-md-6 col-sm-6 col-xs-12">
          <div class="row">

            <div class="step-column col-md-4 col-sm-6 col-xs-12">
              <div class="iconsection"><img src="assets/star.png" class="img-responsive newkeys-2" alt=""></div>
            </div>
            <div class="step-column col-md-8 col-sm-6 col-xs-12">
              <h4 class="newstep">Membership</h4>
              <p class="classp">Lorem ipsum dolor sit amet
                Consectetur adipiscing elit
                Maecenas tempor sapien</p>
            </div>

          </div>

        </div>
        <div class="step-column col-md-6 col-sm-6 col-xs-12">
          <div class="row">

            <div class="step-column col-md-4 col-sm-6 col-xs-12">
              <div class="iconsection"><img src="assets/msg.png" class="img-responsive msg" alt=""></div>
            </div>
            <div class="step-column col-md-8 col-sm-6 col-xs-12">
              <h4 class="newstep">Languages</h4>
              <p class="classp">English <br>
                French</p>
            </div>

          </div>
        </div>
      </div>
    </div>








  </div>


</div>
</body>
