<head>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <style>
    body {
      font-family: 'Abel';
    }
  </style>
</head>

<body>
  <div class="model-msg">
    <div class="modal-body">
      <h2 class="modal-title text-center great">GREAT!</h2>
      <h6 class="modal-title text-center app">Your appointment request has been receieved!</h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default submit_button" (click)="this.bsModalRef.hide()"><b>DONE</b></button>
    </div>
  </div>
</body>
