<!--Section Title-->

<head>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <style>
    body {
      font-family: 'Abel';
    }
  </style>
</head>

<body>

  <div class="backgroundclass back-pading">
  <div class="container">
  <div class="sec-title">
    <h1 class="teams-h1">Our Services</h1>
  </div>
  </div>
  <div class="blogsection">

    <div class="team">

      <div class="containerx">

        <div class="row backgroundclass">

          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/service1.jpg" class="img-responsive newkeys " alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>
          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/server2.jpg" class="img-responsive newkeys" alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>
          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/service3.jpg" class="img-responsive newkeys" alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>
          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/service4.jpg" class="img-responsive newkeys" alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>
          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/service5.jpg" class="img-responsive newkeys" alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>

        </div>


        <div class="row second-row backgroundclass">

          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/service6.jpg" class="img-responsive newkeys " alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>
          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/service7.jpg" class="img-responsive newkeys" alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>
          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/service8.jpg" class="img-responsive newkeys" alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>
          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/service9.jpg" class="img-responsive newkeys" alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>
          <div class="step-column col-md-2 col-sm-6 col-xs-12">
            <div class="icon">
              <img src="assets/service10.jpg" class="img-responsive newkeys" alt="">
              <div class="centered">Lorem Ipsum</div>
              <div class="centered-p">dolor sit amet</div>
            </div>
          </div>

        </div>






      </div>

    </div>
  </div>
</div>
</body>
