<!--Section Title-->
<head>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <style>
  body {
      font-family: 'Abel';
  }
  </style>
  </head>
  <body>

<div class="team">
  <div class="sec-title">
    <h1 class="teams-h1">Awards</h1>
  </div>
  <div class="containerx">
  <div class="row">

      <div class="step-column col-md-2 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="icon"><img src="assets/bbc.png" class="img-responsive keys" alt=""></div>

        </div>
      </div>
      <div class="step-column col-md-2 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="icon"><img src="assets/nbc.png" class="img-responsive keys" alt=""></div>

        </div>
      </div>
      <div class="step-column col-md-2 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="icon"><img src="assets/city.png" class="img-responsive keys" alt=""></div>

        </div>
      </div>

      <div class="step-column itm-mgn-top-30s col-md-2 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="icon"><img src="assets/crs.png" class="img-responsive keys" alt=""></div>

        </div>
      </div>
      <div class="step-column itm-mgn-top-30s col-md-2 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="icon"><img src="assets/who.png" class="img-responsive keys" alt=""></div>

        </div>
      </div>
      <div class="step-column itm-mgn-top-30 col-md-2 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="icon"><img src="assets/toi.jpg" class="img-responsive keys" alt=""></div>

        </div>
      </div>

    </div>
    <!-- <div class="sec-title">
      <button type="button" class="viewall">View All</button>
    </div> -->
    </div>
  </div>
</body>
