<head>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <style>
  body {
      font-family: 'Abel';
  }
  </style>
  </head>
  <body>


<div class="container cont">
  <div class="sec-title">
    <h1 class="teams-h1">Our Practice</h1>
  </div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="assets/hospital1.jpg" alt="">
  </ng-template>
  <ng-template carouselSlide> <img src="assets/hos2.jpg" alt=""></ng-template>
  <ng-template carouselSlide> <img src="assets/hos3.jpg" alt=""></ng-template>
</owl-carousel-o>
</div>
</body>
