
<head>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <style>
  body {
      font-family: 'Abel';
  }
  </style>
  </head>

<body>


<div class="containerx">
<div class="menu-list">
  <ul class="ul-list">
    <li class="list-menu-li invalid"><a href="#"><img src="assets/aloha.png" alt="" class="logo"> </a></li>
    <li class="list-menu-li listalone border-ex"><a href="#">HOME</a></li>
    <li class="list-menu-li listalone border-ex"><a href="#">ABOUT</a></li>
    <li class="list-menu-li listalone border-ex"><a href="#">GALLERY</a></li>
    <li class="list-menu-li listalone border-ex"><a href="#">SPECIALTY</a></li>
    <li class="list-menu-li listalone border-ex"><a href="#">REVIEWS</a></li>
    <li class="list-menu-li listalone border-ey"><a href="#">CONTACT</a></li>
    <input type="button" name="" id="" class="book-now" value=" BOOK ONLINE " (click) = "openModal()">
    <!-- <li class="list-menu-li listalone buttonlist">
     </li> -->
  </ul>
</div>
<div class="menu-list classd">
  <img src="assets/phone.png" alt="" class="">
 <h4 >522-182-5024</h4>
</div>
<!-- <div class="menu-list menu-demo">
  <ul class="ul-list">
    <li class=""><img src="assets/phone.png" alt="" class="phone-logo"> </li>
    <li class="list-menu-li listalone listalone-sec">522-182-5024</li>
  </ul>
</div> -->
<owl-carousel-o [options]="customOptions">


  <ng-template carouselSlide class="frontimages">
    <img src="assets/ladyface.jpg" alt="" class="front-img">
    <!-- <div class="top-right">522-182-5024
    </div>
    <div class="top-right-phone"><img src="assets/phone.png" alt="" class="phoneleft">    </div> -->
    <div class="centered">
      <h1>Dr. Minerva Abbott</h1>
      <h2>General and Cosmetic Dentistry <br>
        San Jose, CA</h2>
    </div>
    <div class="text-block">
      <div class="container">
      <img src="assets/yelp.png" alt="" class="yelp">
      <h4>Lorem ipsum dolor sit amet, conse <br>
        adipiscing elit.</h4>
      <h4>- Jordan Owen</h4>
    </div>
  </div>
  </ng-template>


  <ng-template carouselSlide>
    <img src="assets/ladyface3.jpg" alt="" class="front-img">
    <!-- <div class="top-right">522-182-5024
    </div>
    <div class="top-right-phone"><img src="assets/phone.png" alt="" class="phoneleft">    </div> -->
    <div class="centered">
      <h1>Dr. Minerva Abbott</h1>
      <h2>General and Cosmetic Dentistry <br>
        San Jose, CA</h2>
    </div>
    <div class="text-block">
      <div class="container">
      <img src="assets/yelp.png" alt="" class="yelp">
      <h4>Lorem ipsum dolor sit amet, conse <br>
        adipiscing elit.</h4>
      <h4>- Jordan Owen</h4>
    </div>
  </div>
  </ng-template>


  <ng-template carouselSlide>
    <img src="assets/ladyface4.jpg" alt="" class="front-img">
    <!-- <div class="top-right">522-182-5024
    </div>
    <div class="top-right-phone"><img src="assets/phone.png" alt="" class="phoneleft">    </div> -->
    <div class="centered">
      <h1>Dr. Minerva Abbott</h1>
      <h2>General and Cosmetic Dentistry <br>
        San Jose, CA</h2>
    </div>
    <div class="text-block">
      <div class="container">
      <img src="assets/yelp.png" alt="" class="yelp">
      <h4>Lorem ipsum dolor sit amet, conse <br>
        adipiscing elit.</h4>
      <h4>- Jordan Owen</h4>
    </div>
  </div>
  </ng-template>


</owl-carousel-o>
</div>
</body>
