<!--Section Title-->

<head>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  <style>
    body {
      font-family: 'Abel';
    }
  </style>
</head>

<body>

  <div class="team">
    <div class="sec-title">
      <h1 class="teams-h1">Meet our Team</h1>
    </div>
    <div class="containerx">
      <div class="row">

        <div class="step-column col-md-3 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="icon"><img src="assets/doct.jpg" class="img-responsive keys" alt=""></div>
            <div class="p-h6">
              <h5 class="step-title">Angel Ortiz</h5>
              <h6 class="newh6">Physician</h6>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Maecenas tempor sapien in
                ipsum consequat mollis. Fusce sagittis..
              </p>
            </div>
          </div>
        </div>

        <div class="step-column itm-mgn-top-30s col-md-3 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="icon"><img src="assets/doc3.jpg" class="img-responsive keys" alt=""></div>
            <div class="p-h6">
              <h5 class="step-title">Rachel Bush</h5>
              <h6 class="newh6">Physician</h6>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Maecenas tempor sapien in
                ipsum consequat mollis. Fusce sagittis..
              </p>
            </div>
          </div>
        </div>
        <div class="step-column itm-mgn-top-30s col-md-3 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="icon"><img src="assets/doc4.jpg" class="img-responsive keys" alt=""></div>
            <div class="p-h6">
              <h5 class="step-title">Gene Hodges</h5>
              <h6 class="newh6">Physician</h6>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Maecenas tempor sapien in
                ipsum consequat mollis. Fusce sagittis..
              </p>
            </div>
          </div>
        </div>
        <div class="step-column itm-mgn-top-30 col-md-3 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="icon"><img src="assets/doc5.jpg" class="img-responsive keys" alt=""></div>
            <div class="p-h6">
              <h5 class="step-title">Todd Montgomery</h5>
              <h6 class="newh6">Physician</h6>
              <p>Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Maecenas tempor sapien in
                ipsum consequat mollis. Fusce sagittis..
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="sec-title">
        <button type="button" class="viewall">View All</button>
      </div>
    </div>
  </div>
</body>
